header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 8px 24px;
}

a {
  text-decoration: none;
  color: $black-light;
}

.flex {
  display: flex;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 8px 24px;
  background-color: $white-dark;
  border-radius: 10px;
}

.border {
  border: 1px solid red;
}

.menu {
  list-style: none;
  display: flex;
  gap: 24px;
}

.nav-link {
  display: inline-block;

  padding: 8px;

  transition: 0.5s ease;

  &:hover {
    opacity: 0.7;
  }
}

.input-search {
  height: 40px;
  min-width: 300px;

  background-color: $white-dark;

  border: 0;
  border-radius: 4px;

  color: $black-normal;
  padding: 8px;
}

.img-profile {
  width: 56px;
  height: 56px;
  background-color: $gray-7;
  border-radius: 50%;
}

.container-posts {
  display: flex;
}

.logo {
  width: 70px;
}
