* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import "sass/colors";
@import "sass/typography";
@import "sass/spacing";
@import "sass/layout";

body {
  background-color: $white-normal;
}
